/* css/fonts.css */
@font-face {
  font-family: MonumentGrotesk;
  src: url(/assets/fonts/ABCMonumentGroteskVariable-210b4d5634cd34a66ffc3ae0261458cb.woff2?vsn=d) format("woff2-variations");
  font-weight: 200 900;
  font-style: normal italic;
  font-display: swap;
}
@font-face {
  font-family: MonumentGroteskMono;
  src: url(/assets/fonts/ABCMonumentGroteskMono-Medium-6c2866d284745543fd122b3346ccfe90.woff2?vsn=d) format("woff2-variations");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: MonumentGroteskMono;
  src: url(/assets/fonts/ABCMonumentGroteskMono-MediumItalic-321cfdc463cf8a8c2a655f805249e4fd.woff2?vsn=d) format("woff2-variations");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: MonumentGroteskMono;
  src: url(/assets/fonts/ABCMonumentGroteskMono-Bold-2d59c3774c2dad79c7c887d8f4472b2c.woff2?vsn=d) format("woff2-variations");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: MonumentGroteskMono;
  src: url(/assets/fonts/ABCMonumentGroteskMono-BoldItalic-3be2a773fb9d7caeedc88ed468693a7b.woff2?vsn=d) format("woff2-variations");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: MonumentGroteskSemimono;
  src: url(/assets/fonts/ABCMonumentGroteskSemi-Mono-Regular-dfaae4dfe8680b89331ee6977381e939.woff2?vsn=d) format("woff2-variations");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: MonumentGroteskSemimono;
  src: url(/assets/fonts/ABCMonumentGroteskSemi-Mono-RegularItalic-4977186a90b3b8f1bcd828c751bcc143.woff2?vsn=d) format("woff2-variations");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* css/redoc.css */
code {
  font-family: MonumentGroteskMono;
}
