/*
 Anchors
------------------------------ */

h4.name {
  position: relative;
  font-size: 18px;
  border-bottom: 0;
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid #eee;
}

h4.name > a.anchor {
  opacity: 0;
  position: absolute;
  text-decoration: none;
  border: none;
  left: -1em;
  width: 30px;
  height: 13px;
  background: url('../img/anchor.png') no-repeat;
  background-size: 18px 9px;
  left: -30px;
  bottom: 12px;
  margin-top: -5px;
}

h4.name:hover > a.anchor {
  opacity: 1;
}
