.rect {
  position: absolute;
}

.rect:hover {
  border: 2px #20acdd solid;
  cursor: pointer;
}

.tooltip-inner {
  max-width: 800px !important;
}

.css-screenshot {
  max-width: 100%;
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.05);
}
