body {
  color: #495057;
  background-color: #f7fcfc;
  font-size: 16px;
  font-family: 'Canal Book', Helvetica, Arial, sans-serif;
}

@media (min-width: 992px) {
  .content {
    margin-bottom: 30px;
  }
}

a,
a:active {
  color: #267ad3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p,
ul,
ol,
blockquote {
  margin-bottom: 1em;
}

h1 {
  font-family: 'Canal Medium';
  font-size: 2em;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 10px;
  padding-bottom: 10px;
  margin-top: 0.8em;
}

h1.page-title {
  font-size: 36px;
  margin: 1em 30px;
  display: none;
}

h1.page-title + h3 {
  display: none;
}

h2 {
  font-family: 'Canal Medium';
  font-size: 2em;
  margin-bottom: 10px;
  padding-bottom: 10px;
  margin-top: 0.8em;
  font-weight: 300;
}

h3 {
  font-family: 'Canal Medium';
  font-size: 20px;
  margin: 1.2em 0 0.3em;
}

h4 {
  font-size: 24px;
  margin: 1em 0 0.2em;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

h5,
.container-overview .subsection-title {
  font-size: 11px;
  letter-spacing: 1px;
  margin: 8px 0 15px 0;
  text-transform: uppercase;
  font-weight: bold;
}

h6 {
  font-size: 100%;
  letter-spacing: -0.01em;
  margin: 6px 0 3px 0;
  font-style: italic;
}

tt,
code,
kbd,
samp {
  color: #495057;
  background: #eff7f7;
  padding: 1px 5px;
  border-radius: 5px;
}

.class-description {
  margin-bottom: 1em;
  margin-top: 1em;
}

.class-description:empty {
  margin: 0;
}

.class-description .shadow {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  max-width: 100%;
}

.class-description img {
  max-width: 100%;
}

header {
  display: block;
}

section {
  display: block;
}

.card {
  background-color: #fff;
  border-top: 1px solid #e0e0e0;
  padding: 10px 15px;
  width: 100vw;
  margin-left: -15px;
  border-radius: 5px;
}

.card a:not(.anchor),
.card a:not(.anchor):hover,
.card a:not(.anchor):focus {
  color: #495057;
  text-decoration: underline;
  text-decoration-color: #3d73d3;
}

@media (min-width: 768px) {
  .card {
    width: auto;
    margin-left: 0;
    padding: 20px 50px;
    border: 1px solid #e0e0e0;
  }
}

.variation {
  display: none;
}

.signature-attributes {
  font-size: 60%;
  color: #aaa;
  font-style: italic;
  font-weight: lighter;
}

.clear {
  clear: both;
}

.important {
  font-weight: bold;
  color: #950b02;
}

.type-signature {
  color: #aaa;
}

.details {
  margin-top: 14px;
  border-left: 2px solid #ddd;
  line-height: 30px;
  display: table;
  width: 100%;
}

.details > div {
  display: table-row;
}

.details > div + div dt,
.details > div + div dd {
  padding-top: 10px;
}

.details dt,
.details dd {
  display: table-cell;
  vertical-align: text-top;
  width: 1%;
}

.details dt {
  padding: 0 10px;
  margin: 0;
  white-space: nowrap;
}

.details dd {
  width: 100%;
  padding-right: 10px;
}

.details ul {
  margin: 0;
  padding: 0;
}

.details ul {
  list-style-type: none;
}

.details pre.prettyprint {
  margin: 0;
}

.details .object-value {
  padding-top: 0;
}

.description {
  margin-bottom: 1em;
  margin-top: 1em;
  line-height: 1.7;
}

.code-caption {
  font-style: italic;
  font-size: 107%;
  margin: 0;
}

.prettyprint {
  font-size: 13px;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.05);
  overflow: auto;
  background: #f6f8fa;
}

.prettyprint.source {
  width: inherit;
}

.prettyprint code {
  font-size: 100%;
  line-height: 18px;
  display: block;
  margin: 0;
  background: #f6f8fa;
  color: #4d4e53;
}

.prettyprint > code {
  padding: 10px;
}

.prettyprint .linenums code {
  padding: 0 15px;
}

.prettyprint .linenums li:first-of-type code {
  padding-top: 15px;
}

.prettyprint code span.line {
  display: inline-block;
}

.prettyprint.linenums {
  padding-left: 70px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.prettyprint.linenums ol {
  padding-left: 0;
}

.prettyprint.linenums li {
  border-left: 3px #ddd solid;
}

.prettyprint.linenums li.selected,
.prettyprint.linenums li.selected * {
  background-color: lightyellow;
}

.prettyprint.linenums li * {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.params,
.props {
  border-spacing: 0;
  border: 1px solid #ddd;
  border-collapse: collapse;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  width: 100%;
  font-size: 14px;
}

.params .name,
.props .name,
.name code {
  color: #4d4e53;
  font-size: 100%;
}

.params td,
.params th,
.props td,
.props th {
  margin: 0px;
  text-align: left;
  vertical-align: top;
  padding: 10px;
  display: table-cell;
}

.params td {
  border-top: 1px solid #eee;
}

.params thead tr,
.props thead tr {
  background-color: #fff;
  font-weight: bold;
}

.params .params thead tr,
.props .props thead tr {
  background-color: #fff;
  font-weight: bold;
}

.params td.description > p:first-child,
.props td.description > p:first-child {
  margin-top: 0;
  padding-top: 0;
}

.params td.description > p:last-child,
.props td.description > p:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

dl.param-type {
  border-bottom: 1px solid hsl(0, 0%, 87%);
  margin-bottom: 30px;
  padding-bottom: 30px;
}

dl {
  margin-top: 15px;
}

dl dt {
  font-size: 11px;
  letter-spacing: 1px;
  margin: 8px 0 15px 0;
  font-weight: bold;
}

.param-type dt,
.param-type dd {
  display: inline-block;
}

.disabled {
  color: #454545;
}

/* navicon button */
.navicon-button {
  display: none;
  position: relative;
  padding: 2.0625rem 1.5rem;
  transition: 0.25s;
  cursor: pointer;
  user-select: none;
  opacity: 0.8;
}
.navicon-button .navicon:before,
.navicon-button .navicon:after {
  transition: 0.25s;
}
.navicon-button:hover {
  transition: 0.5s;
  opacity: 1;
}
.navicon-button:hover .navicon:before,
.navicon-button:hover .navicon:after {
  transition: 0.25s;
}
.navicon-button:hover .navicon:before {
  top: 0.825rem;
}
.navicon-button:hover .navicon:after {
  top: -0.825rem;
}

/* navicon */
.navicon {
  position: relative;
  width: 2.5em;
  height: 0.3125rem;
  background: #000;
  transition: 0.3s;
  border-radius: 2.5rem;
}
.navicon:before,
.navicon:after {
  display: block;
  content: '';
  height: 0.3125rem;
  width: 2.5rem;
  background: #000;
  position: absolute;
  z-index: -1;
  transition: 0.3s 0.25s;
  border-radius: 1rem;
}
.navicon:before {
  top: 0.625rem;
}
.navicon:after {
  top: -0.625rem;
}

/* open */
.nav-trigger:checked + label:not(.steps) .navicon:before,
.nav-trigger:checked + label:not(.steps) .navicon:after {
  top: 0 !important;
}

.nav-trigger:checked + label .navicon:before,
.nav-trigger:checked + label .navicon:after {
  transition: 0.5s;
}

/* Minus */
.nav-trigger:checked + label {
  transform: scale(0.75);
}

/* × and + */
.nav-trigger:checked + label.plus .navicon,
.nav-trigger:checked + label.x .navicon {
  background: transparent;
}

.nav-trigger:checked + label.plus .navicon:before,
.nav-trigger:checked + label.x .navicon:before {
  transform: rotate(-45deg);
  background: #fff;
}

.nav-trigger:checked + label.plus .navicon:after,
.nav-trigger:checked + label.x .navicon:after {
  transform: rotate(45deg);
  background: #fff;
}

.nav-trigger:checked + label.plus {
  transform: scale(0.75) rotate(45deg);
}

.nav-trigger:checked ~ nav {
  left: 0 !important;
}

.nav-trigger:checked ~ .overlay {
  display: block;
}

.nav-trigger {
  position: fixed;
  top: 0;
  clip: rect(0, 0, 0, 0);
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 0%, 0.5);
  z-index: 1;
}

@media only screen and (min-width: 320px) and (max-width: 680px) {
  body {
    overflow-x: hidden;
  }

  .navicon-button {
    display: inline-block;
    position: fixed;
    top: 1.5em;
    right: 0;
    z-index: 2;
  }

  #main h1.page-title {
    margin: 1em 0;
  }

  #main section {
    padding: 0;
  }

  footer {
    margin-left: 0;
  }
}

@media only print {
  .nav-toc {
    display: none;
  }
}

.params .name {
  width: 20%;
}
.params .type {
  width: 40%;
}
.params .description {
  width: 40%;
}

/**
 * Backend Tags
 */

.backend-tags-container {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}

.backend-tags-container-inline {
  justify-content: flex-start;
}

.backend-tags {
  white-space: nowrap;
}

.backend-tags-container-inline .backend-tags {
  margin-left: 4px;
}

.backend-tag {
  padding: 5px 10px;
  font-size: 20px;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin: 0;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.9);
}

.backend-tags-container-inline .backend-tag {
  vertical-align: text-bottom;
}

.backend-tag.server {
  background-color: #3f51b5;
}

.backend-tag.standalone {
  background-color: #009688;
}

.backend-tag.partial-support {
  opacity: 1;
}

.backend-tags-small .backend-tag {
  height: 18px;
  line-height: 18px;
  padding: 0px 5px;
  font-size: 12px;
}

/* Mobile Nav */
@media (max-width: 991px) {
  .nav-toc {
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin-bottom: 20px;
    height: 44px;
    overflow: hidden;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top: 0;
  }

  .nav-toc.in {
    height: auto;
  }

  .nav-toc::before {
    content: 'Select...';
    display: block;
    padding: 10px 15px;
    width: 100%;
    background: url(../img/caret.png) 96% 50% no-repeat;
    background-size: 10px;
    cursor: pointer;
  }

  .nav-toc h2 {
    display: none;
  }

  .nav-toc h3 {
    font-family: 'Canal Medium';
    font-size: 14px;
    display: block;
    padding: 5px 15px;
    margin-bottom: 0;
    color: #495057;
    white-space: nowrap;
  }

  .nav-toc ul {
    padding-left: 0;
    list-style: none;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 1em;
  }

  .nav-toc ul:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }

  .nav-toc ul > li > a {
    display: block;
    width: 100%;
    padding: 5px 15px;
    clear: both;
    font-weight: 400;
    color: #495057;
    text-align: inherit;
    white-space: nowrap;
    background: 0 0;
    border: 0;
  }

  .nav-toc ul > li > a:hover {
    color: #3d73d3;
    text-decoration: none;
    background-color: #f8f9fa;
  }
}

/* Desktop Nav */
@media (min-width: 992px) {
  .nav-toc {
    padding-left: 15px;
  }

  .nav-toc h3 {
    font-family: 'Canal Medium';
    margin-top: 12px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    line-height: 24px;
    margin: 15px 0 10px;
    padding: 0;
    color: #495057;
  }

  .nav-toc ul {
    font-size: 100%;
    line-height: 17px;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  .nav-toc ul a,
  .nav-toc ul a:active {
    line-height: 1.7;
    padding: 0;
    display: block;
    font-size: 14px;
  }

  .nav-toc ul a:hover,
  .nav-toc ul a:active {
    color: #3d73d3;
    text-decoration: none;
  }

  .nav-toc > ul {
    padding: 0 10px;
  }

  .nav-toc > ul > li > a {
    color: #495057;
  }

  .nav-toc ul ul {
    margin-bottom: 10px;
  }

  .nav-toc ul ul a {
    color: hsl(207, 1%, 60%);
    border-left: 1px solid hsl(207, 10%, 86%);
  }

  .nav-toc ul ul a,
  .nav-toc ul ul a:active {
    padding-left: 20px;
  }

  .nav-toc h2 {
    font-size: 12px;
    margin: 0;
    padding: 0;
    display: none;
  }

  .nav-toc > h2 > a {
    display: block;
    margin: 10px 0 -10px;
    color: hsl(202, 71%, 50%) !important;
  }
}

/**
 * Search
 */

.algolia-autocomplete {
  width: 100%;
}

.search-input {
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 100%;
  height: 34px;
  padding: 10px 15px;
  margin: 0 15px;
  width: calc(100% - 30px);
}

.search-input::placeholder {
  color: rgb(73, 80, 87);
  opacity: 1;
}

.algolia-autocomplete .ds-dropdown-menu {
  max-width: 500px !important;
  width: calc(100vw - 30px) !important;
  min-width: initial !important;
}

.algolia-autocomplete .algolia-docsearch-suggestion--content {
  background-color: rgb(247, 252, 252);
}

.algolia-autocomplete .algolia-docsearch-suggestion--highlight {
  color: #2e8481 !important;
  background-color: rgb(247, 252, 252) !important;
}

.algolia-autocomplete .ds-cursor .algolia-docsearch-suggestion--content {
  background-color: rgb(234, 251, 251) !important;
}

/* Responsive Mode */
@media (max-width: 991px) {
  .search-input {
    margin: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    height: 44px !important;
    width: 100% !important;
  }
}
