#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgba(85, 85, 85, 0.8);
  color: white;
  cursor: pointer;
  border-radius: 50%;
  height: 36px;
  width: 36px;
}

#scrollToTopBtn:hover {
  background-color: rgba(51, 51, 51, 0.8);
}

#scrollToTopBtn svg {
  color: white;
  display: flex;
}

@media (max-width: 768px) {
  #scrollToTopBtn {
    right: 10px;
    bottom: 10px;
  }
}
